div.x-cpt-hasBottomBar(data-bbar='bbar1' data-tel=app.contact.tel data-qq=app.contact.qq)

  - headerTitle = '招商加盟'
  include ../utils/header

  .x-el-bigImg
    img(src=app.attracting.images[0])

  .x-cpt-article
    h2 合作宗旨
    p!= app.attracting.purpose
    h2 加盟支持
    p!= app.attracting.support