div.x-cpt-hasBottomBar(data-bbar='bbar1' data-tel=app.contact.tel data-qq=app.contact.qq)
 
  - headerTitle = '联系我们'
  include ../utils/header

  .x-el-bigImg
    img(src=app.contact.images[0])

  .x-cpt-article
    h2 公司地址
    p= app.company.address

    -var address = app.company.address;
    include ../utils/map

    h2 电话
    a.x-cpt-article-link(href="tel:" + app.contact.tel)= app.contact.tel
    h2 QQ
    a.x-cpt-article-link(href = 'http://wpa.qq.com/msgrd?v=3&uin=' + app.contact.qq + '&site=qq&menu=yes' target="_blank")= app.contact.qq
    //- h2 传真
    //- p 86-10-63870654
    //- h2 手机
    //- p 13798183162
    //- h2 邮箱
    //- p 13798183@qq.com
  
  include ../utils/hasScript
