div 
  - headerTitle = '新闻详情'
  - var news = app.news[tplData.pageId]
  include ../utils/header

  .x-cpt-news
    h1= news.title
    p 更新时间：[#{news.postDate}]
    p 阅读：#{news.hits}次
    p!= news.content
    img(src=news.images[0], alt="")