div.x-cpt-hasBottomBar(data-bbar='bbar1' data-tel=app.contact.tel data-qq=app.contact.qq)
 
  - headerTitle = '活动详情'
  - var promotion = app.promotion[tplData.pageId]
  include ../utils/header

  .x-el-bigImg
    img(src="/img/demo-card.jpg")

  .x-cpt-article
    h2 活动时间
    p= promotion.time
    h2 参与资格
    p= promotion.qualification
    h2 参与方法
    p= promotion.detail
